@model IEnumerable<BookShopping.Models.ShoppingModel.Category>

    <form asp-controller="Category" asp-action="Create" method="post">
        <h1>KAtegori Ekle</h1>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" name="Id" />
        <div class="">
            <b>Kategori Adı</b>
            <input name="Name" type="text" class="form-control" />
            <br />
        </div>
</form>
<form asp-controller="Category" asp-action="Index" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Kod</th>
                <th>Kategori Adı</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                </tr>
            }
        </tbody>
    </table>
</form>
