
@model IEnumerable<BookShopping.Models.ShoppingModel.Category>

<hr />
<div class="recommended_items">
    <h2 class="title text-center">KATEGORİLER</h2>
</div>
<form asp-controller="Category" asp-action="Lİst" method="post">
    <div class="table-responsive cart_info">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Kod</th>
                    <th>Kategori Adı</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td> <a asp-action="List" asp-controller="Product" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a></td>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</form>

