@model IEnumerable<BookShopping.Models.ShoppingModel.Product>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#slider-carousel" data-slide-to="1"></li>
                    <li data-target="#slider-carousel" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-sm-6">
                            <h1><span>%</span>100</h1>
                            <h2>İNDİRİM</h2>
                        </div>
                        <div class="col-sm-6">
                            <img src="~/images/home/ücretisz kargo.jpg" class="girl img-responsive" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-sm-6">
                            <h1><span></span></h1>
                            <h2></h2> 
                            <h4>İyi bir kitabın,</h4>
                            <h4>iyi seçilmiş ve iyi bakılmış bir meyve ağacına benzediğini söylemek, </h4>
                            <h4>hakikaten daha azını söylemek demektir, onun meyveleri yalnız bir mevsimlik değildir.</h4>
                            <h4> (Calvin COLERİDGE)</h4>
                        </div>
                        <div class="col-sm-6">
                            <img src="~/images/home/kitapp11.jpg" class="girl img-responsive" height="50" width="300" />
                        </div>
                    </div>
                </div>
                <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="left-sidebar">

                @*  @Html.Partial("~/Views/Category/Index.cshtml")*@

            </div><!--/category-products-->

        </div>



    </div>
</div>


