@model BookShopping.Models.ShoppingModel.Payment
<form asp-controller="Payment" asp-action="Pay" method="post">
    <input type="hidden" name="BasketId" value="@ViewBag.BasketId" />
    <div>
        <label>Ödenecek Ücret:</label>
        <input type="text" name="TotalFee" class="form-control" value="" required />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Öde</button>

</form>