@using Microsoft.AspNet.Identity


<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Shopper</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/css/price-range.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/images/ico/apple-touch-icon-57-precomposed.png">
    <title>@ViewData["Title"] - BookShopping</title>
</head><!--/head-->

<body>
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href=""><i class="fa fa-user"></i>@ViewBag.UserName</a></li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li><a asp-action="Logout" asp-controller="Security"><i class="fa fa-lock"></i> Çıkış Yap</a></li>
                                }
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-md-4 clearfix">
                        <div class="logo pull-left">
                            <img src="~/images/home/book.png" alt="" />
                            <a href="https://localhost:44370/product/HomeProduct"><img src="images/home/logo.png" alt="" />KitapEvi</a>
                        </div>

                    </div>
                    <div class="col-md-8 clearfix">
                        <div class="shop-menu clearfix pull-right">
                            <ul class="nav navbar-nav">
                                <li><a asp-action="HomeProduct" asp-controller="Product"><i class="fa fa-home"></i>Anasayfa</a></li>
                                <li><a asp-controller="Home" asp-action="Contact"><i class="fa fa-star"></i>İletişim</a></li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li><a asp-controller="Category" asp-action="Index"><i class="fa fa-crosshairs"></i>Kategori Ekle</a></li>
                                    <li><a asp-controller="Product" asp-action="Index"><i class="fa fa-weibo"></i>Ürün Ekle</a></li>
                                    <li><a asp-controller="Payment" asp-action="Index"><i class="fa fa-table"></i>Ödeme Yap</a></li>
                                    <li><a asp-controller="Role" asp-action="Index"><i class="fa fa-table"></i>Yetkilendirme</a></li>
                                }
                                <li><a asp-controller="Basket" asp-action="Index"><i class="fa fa-book"></i>Sepetim</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->

        
    </header><!--/header-->

    @RenderBody()

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">

                        @*@Html.Partial("~/Views/Category/Index.cshtml")*@

                    </div><!--/category-products-->

                </div>

                <div class="col-sm-9 padding-right">
                    <div class="features_items">
                        <!--features_items-->


                    </div><!--features_items-->


                </div>
            </div>
        </div>
    </section>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2020  Tüm Haklar Saklıdır.</p>
                <p class="pull-right">KiTapEvi</p>
            </div>
        </div>
    </div>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/price-range.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>