
@model BookShopping.Models.ShoppingModel.Product

<form asp-controller="Product" asp-action="Edit" method="post">

    <input type="hidden" asp-for="Id" />
    <div>
        <label>Ürün Adı:</label>
        <input type="text" asp-for="Name" class="form-control" required />
    </div>
    <div>
        <label>Açıklama:</label>
        <input type="text" asp-for="Comment" class="form-control" required />
    </div>
    <div>
        <label>Fiyat:</label>
        <input type="text" asp-for="Price" class="form-control" required />
    </div>
    <br />
    <button class="btn btn-fefault cart"><i class="fa fa-save"></i> Kaydet</button>
    <br />
</form>
