@model BookShopping.Models.Authentication.AppUser


    <form action="Create" method="post">
        <div>
            <input type="text" name="Name" value="" required />
        </div>
        <div>
            <input type="text" name="SurName" value="" required />
        </div>
        <div>
          @*  <input type="number" name="Number" value="" required />*@
        </div>
        <div>
            <input type="text" name="Adress" value="" required />
        </div>
        <button> Ekle</button>
    </form>