@model BookShopping.Models.ViewModel.UserModel

<h1>Şifre güncelle</h1>

<hr />
<div class="row">
    <div class="col-md-9">
        <form asp-controller="Security" asp-action="EditPassword" method="post">
            <input type="hidden" />

            <div class="form-group">
                <label>Eski Şifre</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Yeni şifre</label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>        
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
