@model BookShopping.Models.Authentication.AppUser
    <hr />
    
<div class="recommended_items">
        <h2 class="title text-center">Profil Bilgilerimi Düzenle</h2>
    </div>
    <hr />
    <div>
        <div>
            <form asp-controller="Security" asp-action="EditProfile" method="post">
                <input type="hidden" asp-for="Id" />

                <div>
                    <label>Ad</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Soyad</label>
                    <input asp-for="SurName" class="form-control" />
                    <span asp-validation-for="SurName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Adres</label>
                    <input asp-for="Adress" class="form-control" />
                    <span asp-validation-for="Adress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Telefon Numarası</label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Kaydet" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
