@model BookShopping.Models.ViewModel.ResetPasswordModel
@{ Layout = null;}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login | E-Shopper</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/css/price-range.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
<body>
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="logo pull-left">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li>
                                    <b><img src="~/images/home/book.png" alt="" />"Kitapları seviyor musunuz? Öyleyse; "Hayatınız boyunca mutlu olacaksınız." demektir."</b>
                                </li>
                            </ul>
                        </div>
                    </div>                    
                </div>
            </div>
        </div><!--/header_top-->       
        <br />
        <br />
        <br />
        <br />
        <br />
    </header><!--/header-->

    @if (ViewBag.State == null)
    {
        <div>
            <div>
                <form asp-controller="Security" asp-action="PasswordReset" method="post">

                    <h1>Şifreyi Sıfırla</h1>
                    <div asp-validation-summary="All"></div>
                    <div>
                        <input type="email" asp-for="Email" class="form-control" placeholder="E-Posta" />
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div>
                        <input type="submit" value="Sıfırla" class="btn btn-primary" />

                    </div>
                </form>

            </div><!--/login form-->
        </div>
    }
    else
    {
        if (ViewBag.State)
        {
            @:<div class="alert-success">Şifre talebi için e-posta adresinize bilgilerindirici mail gönderilmiştir.Gelen mesajı görmek için; <a href="https://accounts.google.com/signin/v2/identifier?hl=tr&continue=https%3A%2F%2Fmail.google.com%2Fmail&service=mail&ec=GAlAFw&flowName=GlifWebSignIn&flowEntry=AddSession">hesapınızı</a> kontrol ediniz.</div>
            <div>
                <a asp-action="Index">Anasayfaya dön...</a>
            </div>
        }
        else
        {
            @:<div class="alert-success">Böyle bir e-posta bulunmamaktadır.</div>
            <div>
                <a asp-action="Index">Anasayfaya dön...</a>
            </div>
        }
    }
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2020  Tüm Haklar Saklıdır.</p>
                <p class="pull-right">KiTapEvi</p>
            </div>
        </div>
    </div>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/price-range.js"></script>
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>

